.header {
    height: 200px;
    width: 100%;
    font-family: verdana;
    font-size: 200%;
    top: 0;
    left: 0;
    padding-left: 30px;
    position: fixed;
    background-color: yellowgreen;
}

.sidebar {
    height: 100%;
    width: 145px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 0;
    background-color: #1a2029;
    overflow-x: hidden;
    padding-top: 25px;
}

.sidebar a {
    padding: 10px 8px 6px 16px;
    font-size: 25px;
    color: #fffffc;
    display: block;
}

.content {
    padding-left: 10px;
    position: fixed;
    top: 200px;
    left: 145px;
}