<body>
    <div id="About">
      <h1>About Me</h1>
      <p>I am a software developer. I didn't start out with an interest in coding, but rather developed an 
        apreciation for its complexity over time. My first experience with coding was JavaScript in high school, 
        and I'll admit it was a rocky start. That all changed when I rediscovered a passion for coding in college. 
        I received my Bachelor of Science in Computer Science from the University of Minnesota, Twin Cities. There 
        I learned about algorithms, operating systems, software development, web development, robotics, app design, 
        and much more. I was introduced to many skills and tools of the trade: like C/C++, Java, Assembly, LISP, 
        HTML, and my old friend JavaScript. Outside of schooling I taught myself Python and continue to work on my independent projects. 
        These days I enjoy traveling internationally with friends and family and have now been to such places as Iceland, 
        Norway, and South Korea. I look forward to working in a development role, 
        writing code, and utilizing the skills I have aquired.</p>
      <blockquote>
        <p>The best way to learn oneself, is to assist 
        in the teaching of others.</p>
      </blockquote>
    </div>
    <hr>
    <div id="Projects">
      <h1>Projects</h1>
      <h2>Past Projects:</h2>
      <ul>
        <li>Rec Center App: Developed a prototype mobile app to assist in the attendance of exercise classes offered at the University of Minnesota’s Recreation Center on the Twin Cities campus.</li>
        <li>Product Recognition: Researched methods for image comparison and image database searches for product recognition of images of objects held in a database.</li>
      </ul>
      <h2>Current Projects:</h2>
      <ul>
        <li>Working on this website!</li>
		<li><a href="https://github.com/jonburleson/Coursera_Capstone">Recommending Portland Neighborhoods for Renters</a>: A capstone project for my first data science course.<li>
        <li>Photoshop Application: Rebuilding my C++ photoshop program from scratch. This time as a Windows App.</li>
        <li><a href="https://github.com/jonburleson/UtilityBelt">Utility Belt</a>: An android app with a variety of utilities. Meant 
          to combine the functionality of several minor apps, while adding convenient usability.</li>
        <li>Quadruped Robot: Creating a 4-legged walker with AI path planning and environment mapping that is controlled by a Raspberry Pi.</li>
        </ul>
          
        
        </ul>
    </div>
    <hr>
    <div id="Contact">
      <h1>Contact Info</h1>
        <ul>
          <li><a href="https://www.linkedin.com/in/jonathan-jettenberger-burleson-633677126/">LinkedIn Profile</a></li>
        </ul>
    </div>
  </body>