@import "{{ site.theme }}";

.spacer-horizontal{
    width: 10px;
    height: auto;
    display: inline-block;
}

#banner.button{
    background: linear-gradient(#ffe788, #ffce38);
    background: -webkit-linear-gradient(#ffe788, #ffce38);
    background: -moz-linear-gradient(#ffe788, #ffce38);
    background: -ms-linear-gradient(#ffe788, #ffce38);
    background: -o-linear-gradient(#ffe788, #ffce38);
}